$color-important: #499A18;
$color-backlight: #E06733;
$color-about: #717171;
$color-text: #636060;
$color-background: #EDF2EC;
$color-links: #010201;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
$small-mobile-width: 320px;